apiVersion: apps/v1
kind: Deployment
metadata:
  name: frens-app-deployment
  labels:
    app: frens-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frens-app
  template:
    metadata:
      labels:
        app: frens-app
    spec:
      containers:
      - name: frens-app
        image: nehecodes/frens-app:latest
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: database-url
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"